.testimonial
  font-size: 0
  margin-top: 42px

  & > div
    display: inline-block
    width: 33%
    padding-right: 25px
    box-sizing: border-box
    text-align: left
    font-size: 16px
    word-break: break-all

    p:first-child
      background-color: #f5f5f5
      padding: 20px 10px
      border-radius: 4px
      position: relative

.testimonial p:first-child::after
  content: ''
  position: absolute
  bottom: -12px
  left: 30px
  border: solid transparent
  border-width: 12px 6px 0
  border-top-color: #f5f5f5

.description
  display: inline-block
  vertical-align: top
  padding: 5px 20px
  font-size: 14px
  h5
    font-size: 20px
    margin: 0