.wrapper
  width: 75%
  margin: 0 auto 100px
  text-align: center
  padding: 1px

.divider
  width: 70px
  border: 1px solid orange
  margin: 0 auto

@import "testimonials"

// Custom Section
.custom
  background: url("background.jpg") no-repeat no-repeat
  background-size: cover
  color: white
  text-align: center
  padding: 65px    // чтобы внутренние блоки отталкивались от границ этого, а не внешнего верхнего
  .divider
    @extend .divider
    border-color: white
  button
    background-color: transparent
    border: 2px solid white
    color: white
    width: 136px
    height: 42px
    cursor: pointer
  & > p
    color: #bdbdbd