.wrapper {
  width: 75%;
  margin: 0 auto 100px;
  text-align: center;
  padding: 1px; }

.divider, .custom .divider {
  width: 70px;
  border: 1px solid orange;
  margin: 0 auto; }

.testimonial {
  font-size: 0;
  margin-top: 42px; }
  .testimonial > div {
    display: inline-block;
    width: 33%;
    padding-right: 25px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    word-break: break-all; }
    .testimonial > div p:first-child {
      background-color: #f5f5f5;
      padding: 20px 10px;
      border-radius: 4px;
      position: relative; }

.testimonial p:first-child::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 30px;
  border: solid transparent;
  border-width: 12px 6px 0;
  border-top-color: #f5f5f5; }

.description {
  display: inline-block;
  vertical-align: top;
  padding: 5px 20px;
  font-size: 14px; }
  .description h5 {
    font-size: 20px;
    margin: 0; }

.custom {
  background: url("background.jpg") no-repeat no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 65px; }
  .custom .divider {
    border-color: white; }
  .custom button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    width: 136px;
    height: 42px;
    cursor: pointer; }
  .custom > p {
    color: #bdbdbd; }

/*# sourceMappingURL=main.css.map */
